---
- hosts: all
  user: vagrant
  sudo: yes

  pre_tasks:
    - name: Update APT cache
      apt: update_cache=yes

  roles:
    - { "role": "azavea.java" }
    - { "role": "azavea.git" }
    - { "role": "azavea.zookeeper" }
    - { "role": "geotrellis.spark" }
    - { "role": "geotrellis.hdfs" }
    - { "role": "geotrellis.accumulo" }
